body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 50px;
    vertical-align: middle;
}

#events-container {
    padding: 20px;
}
.event {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
